@model Webshop.Models.EditProduct

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Model.Name + " Details";
}
@if (User.IsInRole("Admin") || User.IsInRole("Employee"))
{
<h2>
    @Model.Name
</h2>
    using (Html.BeginForm("UploadImg", "Form", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <p>
            <img class="product-image" alt="@Model.Name" src="@Url.Content(Model.ImageUrl)"/>
            <input type="file" name="ProductImage" id="ProductImage"/>
            @Html.HiddenFor(model => model.Name)
            @Html.HiddenFor(model => model.ProductId)
            <input type="submit" value="UploadImg"/>
        </p>
    }

    using (Html.BeginForm("EditProduct", "Form", FormMethod.Post, new { id= "submitForm"}))
    {
     <div class="edit-product">
         <p class="edit-productname">
             <em>Product Name:</em>
             @Html.TextBoxFor(model => model.Name, new {name = "Name"})
         </p>

         <p>
             <em>Choose Category:</em>
             @*@Html.DropDownListFor(m => m.Category.CategoryId, (IEnumerable<SelectListItem>)ViewBag.Categories) <-- I used this one before JSON*@

             @*@Html.DropDownListFor(model => model.Category, new SelectList(ViewBag.Categories))*@
             @*@Html.DropDownList("CategoryName", (SelectList)ViewBag.Categories)*@
             @Html.LabelFor(x => x.Category.Name, "Category")
             @Html.DropDownListFor(x => x.Category.CategoryId, new List<SelectListItem>())
             or
             Add a new Category:
             @Html.TextBox("Newcategory")
             <input type="button" id='addcategory' value="Add Category"/>
             <div class="product-added"></div>
         </p>
         <p class="edit-price">
             <em>Price:</em>
             @Html.TextBoxFor(model => model.Price, new {name = "Price"})
         </p>
         <p class="edit-description">
             <em>Description:</em>
             @Html.TextAreaFor(model => model.Description, new {name = "Description"})
         </p>
         <p>
             <em>Show product in webstore:</em>
             @Html.CheckBoxFor(model => model.Published, new {name = "Published"})
         </p>
         @Html.HiddenFor(model => model.ProductId)


     </div>
     <input type="submit" value="Submit"/>
    }
}
@section Scripts {
    <script src="@Url.Content("~/Scripts/categories.js")"></script>
}

@*<script type="text/javascript">

    $(document).ready(function() {
        alert("BAIZ");
    });


    //function getCategories() {
    //    $.ajax({
    //        url: '/Admin/CategoryList/',
    //        type: 'POST',
    //        dataType: 'json',
    //        success: function(data) {
    //            alert('success');
    //            var categories = $('#Category_CategoryId');

    //            $.each(JSON.parse(data), function(idx, obj) {
    //                categories.append($('<option />').val(this.CategoryId).text(this.Name));
    //                alert(this.Name+" "+this.CategoryId);
    //            });
    //        }
    //    });
    //};

    

    //$('#addcategory').click(function () {
    //    alert($("#Newcategory").val());
    //    var text = $("#Newcategory").val();
    //    var data = { JSON.stringify(text), };
    //    $.ajax({
    //        type: 'post',
    //        dataType: 'json',
    //        url: 'Admin\AddCategory',
    //        data: data,
    //         contentType: 'application/json', <-- no need this.
    //        success function(json) {
    //            if (json) {
    //                alert('ok');
    //            } else {
    //                alert('failed');
    //            }
    //        },
    //    });

    //    $.post("/Journal/SaveEntry", { jsonData: JSONstring });
    //});
</script>*@